# Práctica de la librería Pandas

En este notebook, se desarrollarán una serie de tareas utilizando la librería Pandas (el "Excel" de Python).

Se proponen y documentan posibles formas de resolver los ejercicios, pero pueden existir varias formas de lograr los mismos resultados.

Siempre es una buena idea verificar la [Documentación Oficial de Pandas](https://pandas.pydata.org/pandas-docs/stable/), donde es posible encontrar todo tipo de información referida a esta librería. Y si te quedas trabado, busca en Google "como hacer [algo] con Pandas". Hay enormes probabilidades de que esa pregunta ya haya sido respondida!

In [1]:
# Importamos Pandas
import pandas as pd

In [4]:
# Creamos una serie de números y hallamos su media
numeros=pd.Series([1,2,3,4,5,67,235,64])
numeros.mean()

47.625

In [5]:
# Hallamos la suma de dichos números
numeros.sum()

381

In [6]:
# Creamos una SERIE de tres colores diferentes
colores=pd.Series(['rojo','amarillo','verde'])

In [7]:
# Visualizamos la serie creada
colores

0        rojo
1    amarillo
2       verde
dtype: object

In [8]:
# Creamos una serie con tipos de autos, y la visualizamos
tipos_autos=pd.Series(['sedan','Pick-Up','SUV'])
tipos_autos

0      sedan
1    Pick-Up
2        SUV
dtype: object

In [11]:
# Combinamos las series de tipos de autos y colores en un DATAFRAME
tabla_autos=pd.DataFrame({'Tipo de Auto':tipos_autos,"Color":colores})
tabla_autos

  Tipo de Auto     Color
0        sedan      rojo
1      Pick-Up  amarillo
2          SUV     verde

In [12]:
# Conectamos el cuaderno actual con nuestro Drive
from google.colab import drive
drive.mount('content/drive')

ModuleNotFoundError: No module named 'google'

In [ ]:
# Importar "ventas-autos.csv" y convertirlo en un nuevo DATAFRAME

Este será nuestro "Dataframe de Flujo Vehicular"

In [ ]:
# Exportar el Dataframe como un archivo CSV a mi carpeta "/content/drive/MyDrive/Colab Notebooks/pruebas/"

In [ ]:
# Analicemos los tipos de datos disponibles en el dataset de ventas autos

In [ ]:
# Apliquemos estadística descriptiva (cantidad de valores, media, desviación estándar, valores mínimos y máximos, cuartiles) al dataset

In [ ]:
# Obtenemos información del dataset utilizando info()

In [ ]:
# Listamos los nombres de las columnas de nuestro dataset

In [ ]:
# Averiguamos el "largo" de nuestro dataset

In [ ]:
# Mostramos las primeras 5 filas del dataset

In [ ]:
# Mostramos las primeras 7 filas del dataset

In [ ]:
# Mostramos las últimas 5 filas del dataset

In [ ]:
# Utilizamos .loc para seleccionar la fila de índice 3 del DataFrame

In [ ]:
# Utilizamos .iloc para seleccionar las filas 3, 7 y 9

En la documentación podrás observar la diferencia entre el funcionamiento de [.loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) e [.iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html).

In [ ]:
# Seleccionar la columna "Kilometraje"

In [ ]:
# Encontrar el valor medio de la columnas "Kilometraje"

In [ ]:
# Seleccionar aquellas columnas que tengan valores superiores a 100,000 kilómetros en la columna Kilometraje

In [ ]:
# Creamos una tabla cruzada de doble entrada entre Fabricante y cantidad de puertas

In [ ]:
# Agrupamos las columnas por fabricante y buscandos el valor medio de las columnas numéricas

In [ ]:
# Importamos Matplotlib y creamos un gráfico con los valores de la columna Kilometraje

In [ ]:
# Puede que un gráfico más apropiado en este caso sea un histograma?

In [ ]:
# Intentamos graficar la columna de precios

No funcionó, verdad? Alguna idea de por qué esto puede ocurrir?

Una pista es buscar: "cómo convertir strings de Pandas a números"

[Aqui hay un enlace a StackOverflow referido a este tema](https://stackoverflow.com/questions/44469313/price-column-object-to-int-in-pandas).

In [ ]:
# Elimina la puntuación de la columna de precios